---
import globals from "../../../utils/globals";
import { getAuthorPage } from "../../../utils/api";

import GlobalLayout from "../../../layouts/global.astro";
import ExcerptList from "../../../components/ExcerptList.astro";

interface Props {
  page: any;
  authorSlug: string;
}

export async function getStaticPaths({ paginate }) {
  const authorObjects = await getAuthorPage();
  const allCategories: any[] = [];
  authorObjects.forEach(tabObject => allCategories.push(tabObject.slug));
  return allCategories.flatMap(author => {
    const filteredPosts = authorObjects.find(
      tagObject => tagObject.slug === author
    );
    return paginate(filteredPosts.posts, {
      params: { slug: author },
      props: { authorSlug: filteredPosts.slug },
      pageSize: globals.postsPerPage,
    });
  });
}

const { page, authorSlug } = Astro.props;
---

<GlobalLayout>
  <header class="mx-auto max-w-inner-sm pb-16">
    <h1 class="text-xl">
      Posts written by:
      <a class="text-primary hover:underline" href={`/author/${authorSlug}`}>
        ~{authorSlug}
      </a>
    </h1>
  </header>
  <ExcerptList page={page} />
</GlobalLayout>
