---
import Base from '../layouts/Base.astro';
import Column from '../components/Column.astro';
import DownloadApps from '../components/DownloadApps.astro'
import Author from '../components/Author.astro'
---
<Base>
    <img 
        src="/collage.jpeg"
        class="col-start-2 col-end-12 my-6 dark:mix-blend-screen"
    />

    <Column>
        <h2 class="pt-4 italic font-semibold">A Place to (Really) Call Our Own</h2>
        <p class="pb-4">The mission behind Tlon Corporation</p>
        <p class="pb-4 text-sm">Originally published on July 18th, 2023 in <a class="underline decoration-[1px] underline-offset-[3px] decoration-neutral-400" href="https://tlon.network/lure/~loshut-lonreg/tlon">Tlon Studio</a>.<p/>
        
        <div class="my-6 flex flex-row gap-4 items-center">
            <Author/>
            <h2 class="inline-block align-middle">Galen Wolfe-Pauly</h2>
        </div>

        <p class="py-4">During the 2007 iPhone launch, Steve Jobs quoted Alan Kay: “People who are really serious about software should make their own hardware.”</p>
        <p class="py-4">Kay was right, at the time. In the pre-internet world from which he made his claim, it was hardware that defined the boundaries of what you could build with software. To build software without constraints, you had to have a hand in the hardware.</p>
        <p class="py-4">Today, in a world where every computer and every device is networked, hardware is no longer the sole arbiter of software. Our software has to run on a variety of devices, all of which are connected. Today, it’s the server that ultimately determines what our software is, how it works, when it updates, and who it can talk to. To deliver truly great software without constraints, you’ve gotta control the server side.</p>
        <p class="py-4">Tlon operates on a sentiment similar to Alan Kay’s ‘build your own hardware’, only updated for a post-internet world: people who are really serious about cloud software should build their own cloud computer.</p>
        <p class="py-4">While cloud software has become the connective tissue of the world, it’s nowhere near its potential. Today’s cloud software is rigid and controlling. When a company controls the server side, cloud software is stuck at a local maximum.</p>
        <p class="py-4">We’ve yet to see truly great, unstuck cloud software. We believe that means freely composable, recombinable, customizable, extensible and fun. And you own it, of course. To actually build that, we had to build a new computing platform for an individual to control their own server in the cloud. We called it Urbit.</p>
        <p class="py-4">Urbit has grown into an earnest community of contributors, hobbyists and hackers who believe in this vision of the future. Urbit has become a reliable foundation for a new era of personal computing in the cloud. It’s totally open source and owned by the people who depend on it.</p>
        <p class="py-4">Since 2020, Tlon has handed core development over to the Urbit Foundation and focused entirely on building the cloud software we’d only ever imagined. Software only made possible by Urbit.</p>
        <p class="py-4">Yes, technically Tlon is a software company. But we’re building a category of cloud software that has never been possible before: software that you own, control and lasts forever. With the exception of a few other pioneering companies on Urbit, we’re the only ones doing it this way.</p>
        <p class="py-4">To build our software is also to realize our vision of the future where the digital world is shaped and moved forward by the people who depend on it. Day in and day out, we rely on the tools that we build to stay connected and we live and work inside the world we’re creating. It feels completely different than anything else out there.</p>
        <p class="py-4">It’s the internet that we’ve only ever dreamed of. It’s the path not taken. And we’re not doing it alone.</p>
        <p class="py-4">For starters, we invite you to join Tlon Local, our little home on the Urbit network. Feel free to chime in at the Internet Cafe, our general discussion, or Builders, our more developer-forward chat.</p>
        <DownloadApps />
    </Column>
</Base>