---
import Base from '../layouts/Base.astro';
import Button from '../components/Button.astro';
import PostNav from '../components/PostNav.astro';
import DownloadApps from '../components/DownloadApps.astro';
---
<Base>
    <section class="
        col-start-2
        col-end-12
        lg:col-start-4
        lg:col-end-10
        2xl:col-start-5
        2xl:col-end-9
    ">
        <p class="py-4">Tlon is a software company that believes we should own the tools we use to compute.</p>
        <p class="py-4">We spent nearly a decade working on Urbit's core development in pursuit of this goal. With that foundation, we're finally making software we can feel good about using: pure, simple, and high-trust.</p>
        <p class="py-4">We invite you to join Tlon Studio on the network, where you'll find betas, works in progress, and public discussion. It's the most direct line to our team.</p>
        <p class="py-4">Download the app to get involved.</p>
        <DownloadApps/>
    </section>
    

    <img 
        src="/memories.png"
        class="col-start-2 col-end-12 my-6 dark:mix-blend-screen"
    />

    <section class="
        col-start-2
        col-end-12
        lg:col-start-4
        lg:col-end-10
        2xl:col-start-5
        2xl:col-end-9
    ">
        <p class="py-4">Pajaro Dunes, October 2022.</p>
        <p class="py-4">One of those rare occasions when the entire Tlon team is together. Situated on Monterey Bay two hours south of San Francisco, the dunes rest on the edge of civilization. The setting’s equal proximity to industry and total natural oblivion might even serve as an analogy to Urbit itself.</p>
        <p class="py-4">The team would congregate at the resort center, sharing anecdotes, drinking wine and taking turns with the Theragun. Some of us went swimming. Some meditated on the white sandy beach. Others went to a gun range. Some of us broke off in a sprinter van to Galen’s house 20 miles away in Santa Cruz to make cider with freshly picked pears from his orchard. A few of us made a short film using the sublime Pacific as a backdrop.</p>
        <p class="py-4">In just a weekend, it felt like we’d been there forever. Even though we were sharing the resort with other guests, there was always a sense of magic and intimacy. With nothing but ocean and sky in front of us, we felt destined to be there and that, however we are to pursue the horizon, we must do it together.</p>
        <p class="py-4">It wasn’t unlike a group on Urbit. For a remote team with very personal and intertwined dreams, it’s important that we’re able to capture that energy from the dunes and translate it in a digital space. Maybe that’s why we built Tlon.</p>
        <p class="py-4">Find us here: ~tommur-/tlon-studio</p>
        <p class="py-4">And here: support@tlon.io</p>
        <section class="py-8">
            <h2 class="pt-4 pb-1 font-semibold">Further reading</h2>
            <p class="py-1 italic"><a href="/tlonward">Tlonward</a></p>
            <p class="py-1 italic"><a href="/a-place-to-call-our-own">A Place to Call Our Own</a></p>
        </section>
        <DownloadApps/> 
    </section>
</Base>