---
import Base from '../layouts/Base.astro';
const allPosts = await Astro.glob('../pages/blog/*.md');
import Button from '../components/Button.astro';
---
<Base>
    <!-- Hero CTA -->
    <header class="text-left mb-20">
            <h1 class="
                tracking-tight
                lg:max-w-md
                text-2xl
                font-normal
                lg:text-3xl
                leading-tight
                pt-2
                lg:py-0
                mb-10
            ">
            Updates from Tlon
            </h1>
            
            <Button label="Get Started for Free" link="https://tlon.network/lure/~nibset-napwyn/tlon" />
            <Button label="Subscribe to our Newsletter" link="https://tlon.network/lure/~nibset-napwyn/tlon" />
    </header>
    <ul class="lg:flex flex-wrap gap-8">
        {allPosts.map((post) => 
            <li class="grow mt-6 mb-6 lg:mt-0 lg:mb-8 rounded-2xl lg:rounded-3xl border-2 border-stone-300/20 overflow-hidden">
                <a href={post.url}>
                    <div class="flex flex-col gap-6 p-8">
                        <p class="text-neutral-400">{post.frontmatter.tags}</p>
                        <h2 class="
                                tracking-tight
                                lg:max-w-xl
                                text-2xl
                                text-black
                                font-normal
                                lg:text-3xl
                                leading-tight
                            ">
                            {post.frontmatter.title}
                        </h2>
                        <div class="flex flex-row gap-4">
                            <img class="h-6 self-center" src="../favicon.svg">
                            <p class="text-neutral-500">{post.frontmatter.author}</p>
                        </div>
                        <p class="text-neutral-400">{post.frontmatter.pubDate.slice(0, 10)}</p>
                    </div>
                </a>
            </li> 
        )}
    </ul>

    <!-- Footer -->
    <section class="text-left">
            <p class="
                tracking-tight
                lg:max-w-xl
                text-2xl
                font-normal
                lg:text-3xl
                leading-tight
                pt-2
                lg:py-0
                mt-12
                mb-10
            ">
                Join the conversation on Tlon Local
            </p>

            <Button label="Get Started for Free" link="https://tlon.network/lure/~nibset-napwyn/tlon" />
            <Button label="Subscribe to our Newsletter" link="https://tlon.network/lure/~nibset-napwyn/tlon" />
    </section>

    <section class="flex flex-col justify-center">
        <p class="pt-4 text-lg text-stone-400"><a href="/terms">Terms of Service</a></p>
        <p class="text-lg text-stone-400"><a href="/privacy">Privacy Policy</a></p>
        </article>
    </section>
</Base>

<!-- <script>
    window.addEventListener('load', () => {
        const img = document.querySelector('img');
        img.classList.remove('opacity-0');
        img.classList.add('opacity-100');
    });
</script> -->