---
import Base from '../layouts/Base.astro';
import Button from '../components/Button.astro';
import PostNav from '../components/PostNav.astro';
import H1 from '../components/H1.astro';
import H2 from '../components/H2.astro';
import H3 from '../components/H3.astro';
import H4 from '../components/H4.astro';
import H5 from '../components/H5.astro';
import H6 from '../components/H6.astro';
---
<Base>
    <section class="
        col-start-2
        col-end-12
        lg:col-start-4
        lg:col-end-10
        2xl:col-start-5
        2xl:col-end-9
    ">
        <p class="py-4">Hosting is a big part of what we offer, and a pretty major unlock for the Urbit network.</p>
        <p class="py-4">In order to give people an easy onramp into Landscape, a lot has to go on behind the scenes. With Hosting, users only see a tip of that iceberg.</p> 
        <p class="py-4">Under the surface, we’re running a whole world of infrastructure that we explain in depth here.</p>
        <Button label="Get started for free" link="https://tlon.network/lure/~nibset-napwyn/tlon" />
    </section>

    <img 
        src="/hosting.jpg"
        class="col-start-2 col-end-12 my-4 dark:invert dark:mix-blend-screen"
    />

    <section class="
        col-start-2
        col-end-12
        lg:col-start-4
        lg:col-end-10
        2xl:col-start-5
        2xl:col-end-9
    ">
        <p class="pt-4 pb-8">Skip to a question:</p>
        <ol class="pl-8 lg:pl-0 list-decimal">
            <a href="#1"><li class="py-2">What is Hosting?</li></a>
            <a href="#2"><li class="py-2">Why Hosting?</li>  </a>
            <a href="#3"><li class="py-2">Why is Tlon suited for the job?</li></a>
            <a href="#4"><li class="py-2">What about my data? Does it still belong to me when I host with Tlon? What about when I leave?</li></a>
            <a href="#5"><li class="py-2">Where’s the data stored, exactly?</li></a>
            <a href="#6"><li class="py-2">Why wasn’t the internet built this way to begin with?</li></a>
        </ol>
    </section>

    <section class="
        col-start-2
        col-end-12
        lg:col-start-4
        lg:col-end-10
        2xl:col-start-5
        2xl:col-end-9
    ">
        <H1/>
        <h2 id="1" class="py-4 italic font-semibold">What is Hosting?</h2>
        <p class="py-4">To connect one Urbit node with other Urbit nodes, they each have to be online, just like any computer. For example, if you send a text to your friend and their phone is off, that message waits in limbo on a server until their phone is turned back on. Similarly, if the recipient node of a message you send on Urbit is offline, your Urbit will retry sending until it is. There’s no middle server involved on Urbit, but like text, both nodes have to be online.</p>
        <p class="py-4">Hosting is our system for running Urbit nodes in the cloud. It allows us to run many thousands (and someday many millions) of Urbit nodes in an efficient, reliable and cost-effective way—enabling people to connect to the Urbit network with nodes we keep online for them 24/7/365.</p>
        <p class="py-4">Think of hosting as a coat check of sorts. We’ll hold onto your coat (or Urbit node) while you mix and mingle on the dance floor (connect with other nodes on the network). You still own the coat, of course, and you’ll get it back when you’re done. You can always hang on to your own coat, too, but who wants to do that at the club?</p>

        <H2/>
        <h2 id="2" class="py-4 italic font-semibold">Why Hosting?</h2>
        <p class="py-4">First let’s look at the self-hosted alternative. It would mean running your Urbit on your own device, whether that’s your laptop, your phone and so on. If you want your Urbit always online, your device has to be always online (and reachable over the network). What happens when you lose that device? Or it goes offline?</p>
        <p class="py-4">Hosting with Tlon means we handle all of that for you. It makes Urbit as easy as any conventional app or service, requiring no maintenance at all.</p>
        <p class="py-4">Our hosting system takes advantage of today’s cloud infrastructure, which delivers great uptime, reliability, speed, and redundancy. That makes it great for running an Urbit because you can connect to it from anywhere and can trust that it’s not going to disappear unexpectedly.</p>
        <p class="py-4">What’s more, Hosting can give your Urbit access to other cloud-based conveniences. For example, with Hosting your Urbit node is always on even if your laptop or mobile phone is off. That means it listens for incoming messages and can notify you when you are back online.</p>

        <H3/>
        <h2 id="3" class="py-4 italic font-semibold">Why is Tlon suited for the job?</h2>
        <p class="py-4">Getting hundreds to thousands (to someday millions) of nodes to run reliably is no easy task. Nor is monitoring them and taking care of them. Nor is making them performant and easy to boot and onboard to.</p>
        <p class="py-4">Fortunately, Tlon lives for a technically complex undertaking. Our track record includes a decade plus getting Urbit off the ground, after all.</p>
        <p class="py-4">We know the network inside and out. We know how it lives and breathes. We bring that knowledge and experience into our approach to our Hosting services. Additionally, since anyone who hosts your Urbit will inevitably have access to it, you’re going to want to trust the hosting provider. We’d like to think that our commitment to ownership-focused technology signals we’re trustworthy when it comes to data.</p>
        <p class="py-4">We’ve also got the incentive. Hosting is an essential unlock for growing the Urbit network—that thing we worked so hard on. As significant owners of Urbit address space, our primary incentive is to make Urbit useful and to grow the network. In that sense, Hosting is a core part of our business.</p>
        <p class="py-4">Even more broadly, we think easy, affordable Urbit hosting isn’t just good for the Urbit network. It’s good for the world at large, since it would more easily grant everyday users ownership over their computing.</p>

        <H4/>
        <h2 id="4" class="py-4 italic font-semibold">What about my data? Does everything still belong to me? Even if I stop hosting my Urbit ship with Tlon?</h2>
        <p class="py-4">Indeed!</p>
        <p class="py-4">We do our absolute best to ensure that everything still belongs to you, and that you can exit our hosting arrangement at any time, without even asking us. We’ll even give you the key (aka “master ticket”) to your Urbit ID, so you can keep that forever no matter what.</p>
        <p class="py-4">If you do decide to take your Urbit elsewhere or host it yourself, It’s quite easy to exit our hosting service, download your Urbit, and run it yourself. That’s one of the best things about Urbit. Other services give you a useless .zip file that you can’t run. We just give you the equivalent of a computer itself.</p>
        <p class="py-4">We should mention that when you’re hosted by Tlon, your node is running in our infrastructure. So, technically, if Tlon is somehow instantly vaporized then there’s some outside chance your data would be vapor too. In this regard, you could think of hosting like a storage unit. We promise to give you access to the stuff you put in the unit, and we can promise not to touch it, but if the building burns down then we’re all fucked.</p>
        <p class="py-4">One thing we’d like to do in the future is allow you to download backups of your Urbit so you can potentially use the convenience of Hosting with the assurance that you won’t lose your data even if Tlon Hosting is melted off the face of the Earth.</p>

        <H5/>
        <h2 id="5" class="py-4 italic font-semibold">Where’s the data stored, exactly?</h2>
        <p class="py-4">Tlon Hosting is built on top of a Google Cloud Platform, somewhere in the United States.</p>
        <p class="py-4">Eventually, we expect to be able to let people specify which region they’d like their data to be in.</p>

        <H6/>
        <h2 id="6" class="py-4 italic font-semibold">Why wasn’t the internet built this way to begin with?</h2>
        <p class="py-4">The internet as it exists was basically an accident. It’s kind of a piecemeal ‘ball of mud’ made from gluing lots of complicated parts together over 30 years or so. It was never designed and engineered around what people want from networked computers.</p>
        <p class="py-4">But to be fair, 30 years ago we didn’t know what people wanted from networked computers. We didn’t know what the technology should look like, because we didn’t know what we’d do with them. We weren’t even sure if they’d make it past the turn of the century.</p>
        <p class="py-4">Now that networked computers are everywhere in every part of our lives, we have a much better idea of what people want and how to design things. Why’s it taking so long to correct? Well, first you have to build an entirely new infrastructure (like Urbit) and then you have to build a toolkit on top of that infrastructure (like Landscape) and then a system for staying connected to all of that (like Hosting).</p>
        <p class="py-4">Presently, giant companies are the gatekeepers on how we compute and store our data. From our perspective, it’s clear that how you marshal your personal compute and manage your personal data is an essential question moving forward.</p>
        <p class="py-4">In an Urbit future, you’re in charge. Urbit makes it possible. Hosting will get us there a little faster.</p>
        <p class="py-4 font-semibold">We’re now offering hosting for free.</p>
        <Button label="Get started for free" link="https://tlon.network/lure/~nibset-napwyn/tlon"/>
    </section>
    <PostNav/>
</Base>