---
import Base from '../layouts/Base.astro';
const pageTitle = 'Tlon Co.';
---

<Base pageTitle={pageTitle}>
	<p class="pt-4">Hey, our website is undergoing updates</p>
	<p class="pt-4">In the meantime, some info about us:</p>
	<br>
	<p class="pt-4">We're Tlon, and we are building a next-gen</p>
	<p class="pt-4">communications app and “Social OS”...</p>
	<p class="pt-4">Our software is beautiful, simple, unobtrusive, </p>
	<p class="pt-4">and most importantly, it's entirely yours.</p>
	<br>
	<p class="pt-4"><a href="https://apps.apple.com/us/app/tlon-the-urbit-app/id6451392109">Download our iOS app</a></p>
	<p class="pt-4"><a href="https://play.google.com/store/apps/details?id=io.tlon.groups">Download our Android app</a></p>
	<p class="pt-4"><a href="https://tlon.network/login">Sign in to Tlon Hosting</a></p>
	<p class="pt-4"><a href="https://status.tlon.io">Check our project tracker</a></p>
	<!-- <p class="pt-4"><a href="/writing/">Read our blog</a></p> -->
</Base>