---
import Base from '../layouts/Base.astro';
---
<Base>
    
        <h1 class="tracking-tight max-w-3xl text-5xl leading-tight py-16">You've reached Tlon's website. <br> You can find us on Urbit. <br> Don't worry, we made it easy.</h1>
        
        <a href="https://tlon.network/landing/tlon-public/1665b07c-eb63-4d65-bafa-5aa47d622a15">
            <button class="bg-black text-white text-lg tracking-tight py-2 px-8 mb-16 rounded-lg">Get started for Free</button>
        </a>

        <img 
            src="https://nyc3.digitaloceanspaces.com/fabled-faster/fabled-faster/2023.3.02..21.30.04-Screen-Shot-2023-01-25-at-13.29.48.jpg"
            class="w-100 py-16"
        />

        <article class="tracking-tight max-w-xl">
        <p class="py-4 text-lg">A product website used to live here, where we talked about who we are and what we build. The best way to understand all that is to just come talk to us. The world we're building is for communities to own, control, and shape on their own.</p>
        <p class="py-4 text-lg">So we're going all in. If you want to get in touch, join us on the Urbit network. It's easier to join and use than ever before:</p>

        <a href="https://tlon.network/landing/tlon-public/1665b07c-eb63-4d65-bafa-5aa47d622a15">
            <button class="bg-black text-white text-lg tracking-tight py-2 px-8 rounded-lg my-12">Join Us</button>
        </a>

    </article>
</Base>