---
import Base from '../layouts/Base.astro';
import ButtonPrimary from '../components/ButtonPrimary.astro';
import HeroText from '../components/HeroText.astro';
import CardFull from '../components/CardFull.astro';
import CardHalf from '../components/CardHalf.astro';
import CardFullMobile from '../components/CardFullMobile.astro';
---
<Base>
    <HeroText>
        There are hundreds <br> of ways to communicate <br> and collaborate online. <br> <br> 
        There's only one that’s entirely <br> yours to own, customize, <br> and hold onto forever.
    </HeroText>
    
    <div class="mb-8">
    <ButtonPrimary label="Get Started for Free" link="https://tlon.network/lure/~nibset-napwyn/tlon" />
    </div>
    
    <CardFull 
        herocopy="Groups: Communities, your way." 
        buttoncopy="Get Started for Free"
        link="https://tlon.network/lure/~nibset-napwyn/tlon"
        imagelink="/talk-in-groups.png"
    />

    <div class="lg:flex gap-8">
        <CardHalf 
            herocopy="In Groups, a channel can be a book, a report, a diary..." 
            imagelink="/notebook.png"
        />
        <CardHalf
            herocopy="...a moodboard, a soundtrack, or an archive." 
            imagelink="/gallery.png"
        />
    </div>

    <CardFullMobile
        herocopy="Talk it out." 
        buttoncopy="Get on Testflight"
        link="https://tlon.network/lure/~nibset-napwyn/tlon"
        imagelink="/smalltalk.png"
    />

    <HeroText>
        Landscape is an Urbit-native suite of apps for staying connected with your friends, family and colleagues. <br> <br>
        At Tlon, we use it every day to keep in touch and build out the internet of our dreams. It’s intimate and inspiring, clean and simple. <br> <br>
        We love it, and we think you will too. 
    </HeroText>

    <ButtonPrimary label="Get Started for Free" link="https://tlon.network/lure/~nibset-napwyn/tlon" />
</Base>