---
import Base from '../layouts/Base.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = 'Tlon Corporation';
---
<Base>
    <ul class="pt-4">
        {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
    <p class="mt-5 pt-4 prose prose-xl prose-a:no-underline leading-7 text-black prose-a:text-gray-500 prose-p:text-black dark:text-stone-300">
        Tlon exists to build exceptionally well-crafted software
        for people’s everyday lives.
        In order to build software of the highest quality, we had
        to start with excellent raw material. <br> <br>

        Our material is <a href="https://urbit.org" target="_blank">Urbit</a>.<br> <br>

        Tlon exists to animate the infrastructural material 
        Urbit represents and give people a means to
        inhabit it, play with it, make it theirs, and give it life.<br> <br>

        Tlon exists to build truly simple, beautiful, 
        durable, personal computers.
    </p>
</Base>