---
import Base from '../layouts/Base.astro';
---
<Base>
    
        <h1 class="tracking-tight lg:max-w-4xl text-4xl leading-tight lg:text-6xl lg:leading-tight pt-4 pb-12 lg:py-16">You've reached Tlon's website. <br> You can find us on Urbit. <br> Don't worry, we made it easy.</h1>
        
        <a href="https://tlon.network/landing/tlon-public/1665b07c-eb63-4d65-bafa-5aa47d622a15">
            <button class="bg-black text-white text-lg tracking-tight py-2 px-8 lg:mb-16 rounded-lg">Get started for Free</button>
        </a>

        <img 
            src="over.jpeg"
            class="w-100 mt-16 mb-10 lg:my-16 rounded-lg lg:rounded-3xl"
        />

        <article class="tracking-tight max-w-xl">
        <p class="py-4 text-lg">We’re packing up this site and going all in on Urbit.</p>
        <p class="py-4 text-lg">Why are we sold on it? We used it to build Landscape, an Urbit-native suite of apps for staying connected to our friends, family and colleagues. We use it on a daily basis. It’s clean and simple, intimate and inspiring.</p>
        <p class="py-4 text-lg">Sure, there are hundreds of ways to communicate and collaborate online. This is the only one that’s entirely yours to own, customize and hold onto forever. </p>
        <p class="py-4 text-lg">If you want to try it out or get in touch, join us on the Urbit network. It’s easier to join and use than ever before.</p>

        <a href="https://tlon.network/landing/tlon-public/1665b07c-eb63-4d65-bafa-5aa47d622a15">
            <button class="bg-black text-white text-lg tracking-tight py-2 px-8 rounded-lg my-10 lg:my-12">Get Started for Free</button>
        </a>

    </article>
</Base>