---
import Base from '../layouts/Base.astro';
import Button from '../components/Button.astro';
---
<Base>
        <section class="">
            <h1 class="
                tracking-tight
                lg:max-w-4xl
                text-4xl
                lg:text-6xl
                leading-tight
                lg:leading-tight
                lg:py-0
            ">
                You’ve reached Tlon’s website. <br> You can find us on Urbit. <br> Don’t worry, we made it easy.
            </h1>
            
            <Button label="Get Started for Free" link="https://tlon.network/landing/tlon-public/1665b07c-eb63-4d65-bafa-5aa47d622a15" />

        </section>

        <img 
            src="over.jpg"
            class="w-max mt-16 mb-10 lg:my-16 rounded-lg lg:rounded-3xl mix-blend-screen"
        />

        <article class="tracking-tight max-w-xl">
        <p class="py-4 text-lg">We’re packing up this site and going all in on Urbit.</p>
        <p class="py-4 text-lg">Why are we sold on it? We used it to build Landscape, an Urbit-native suite of apps for staying connected to our friends, family and colleagues. We use it on a daily basis. It’s clean and simple, intimate and inspiring.</p>
        <p class="py-4 text-lg">Sure, there are hundreds of ways to communicate and collaborate online. This is the only one that’s entirely yours to own, customize and hold onto forever. </p>
        <p class="py-4 text-lg">If you want to try it out or get in touch, join us on the Urbit network. It’s easier to join and use than ever before.</p>
        <p class="py-4 text-lg">Peace out,</p>
        <p class="py-4 text-lg">Galen <inline class="text-stone-400">~ravmel-ropdyl</inline></p>

        <Button label="Get Started for Free" link="https://tlon.network/landing/tlon-public/1665b07c-eb63-4d65-bafa-5aa47d622a15" />

    </article>
</Base>