---
import Base from '../layouts/Base.astro';
import DownloadApps from '../components/DownloadApps.astro';
import AppFeature1 from '../components/AppFeature1.astro';
import AppFeature2 from '../components/AppFeature2.astro';
import AppFeature3 from '../components/AppFeature3.astro';
import Hero from '../components/Hero.astro';
---
<Base>
    <!-- Hero Text -->
    <section class="
        col-start-2
        col-end-12
        lg:col-start-4
        lg:col-end-10
        2xl:col-start-4
        2xl:col-end-10
    ">
        <p class="py-4">Peer-to-peer collaboration <br> for communities of all <br> shapes and sizes.</p>
        <p class="py-4">Tlon is built to trust. <br> Built to last. <br> Because it's built on Urbit.</p>
        <!-- <Button label="Get started for free" link="https://tlon.network/lure/~loshut-lonreg/tlon" /> -->
        <DownloadApps/>
    </section>

    <!-- Hero Image -->
    <img 
        src="/features2/HERO.png"
        class="
            mt-2
            mb-10
            lg:my-32
            
            col-start-2
            col-end-12
            lg:col-start-4 
            lg:col-end-10
            2xl:col-start-3
            2xl:col-end-11
    "/>
    
    <!-- App Features -->
    <!-- <AppFeature1/> -->
    <AppFeature2/>
    <!-- <AppFeature3/> -->

        <!-- Editorial Outro -->

        <!-- Editorial Video -->
    <section class="
        col-start-2
        col-end-12
        lg:col-start-3
        lg:col-end-11
        2xl:col-start-3
        2xl:col-end-11
    ">
        <!-- <iframe 
            class="
                w-full 
                aspect-video
                rounded-md
                my-6
            " 
            src="https://www.youtube.com/embed/OhJfmfhw0Go?si=iph69ptKRcJk5uOA"
            title="Tlon Promo Video" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen
        >
        </iframe> -->
    </section>

    <section class="
        col-start-2
        col-end-12
        lg:col-start-4
        lg:col-end-10
        2xl:col-start-4
        2xl:col-end-10
    ">
        <!-- Editorial Text -->
        <h2 class="pt-4 font-semibold">A note from the other side:</h2>
        <p class="py-4">You receive a message. There's a purity to it that you can't quite place. You can almost pluck it right off your screen. It's as alive as a whisper spoken from one friend to another, as they part ways at a train station. It's as authentic as a love letter. As personal as an apology. As material as a family recipe passed down through generations.</p>
        <p class="py-4">Because there's no one—besides yourself and the sender—storing the message on your behalf. There's no one acting as a middle man between the transaction. It belongs only to the two of you. It always will.</p>
        <p class="py-4">A meetup invitation lives solely amongst a group, binding them closer. A journal entry stays entirely with you. A developer named Andrey's latest bookkeeping app ships directly to someone named Savannah, whose bookkeeping stays safely with her.</p>
        <p class="py-4">The difference appears small on paper. But it's everything. The internet had gotten between our most important moments. Our most private and precious interactions. Now, it recedes beneath us, enabling a truly person-to-person network, where we build with our own tools, on our own platforms, for people we call our community.</p>
        <p class="py-4">This is the internet we've dreamed of—both before we knew what was possible and after we knew what was at stake.</p>
        <p class="py-4">It's possible on Urbit. And Tlon is your point of entry.</p>
        <!-- <p class="py-4 italic">Originally published in <a class="underline decoration-[1.5px] underline-offset-[3px] decoration-neutral-400" href="https://tlon.network/lure/~loshut-lonreg/tlon">Tlon Local</a>, our growing community on the <a class="underline decoration-[1.5px] underline-offset-[3px] decoration-neutral-400" target="_blank" href="https://urbit.org/">Urbit</a> network.</p> -->
        <!-- <p class="py-4">Getting started is now free and easy. You can also <a class="underline decoration-[1.5px] underline-offset-[3px] decoration-neutral-400" href="https://tlon.us14.list-manage.com/subscribe?u=f9f52f752b920bad5e8b46282&id=6d15c14b9a">subscribe to our newsletter</a>.</p> -->
        <!-- <Button label="Join the community" link="https://tlon.network/lure/~loshut-lonreg/tlon" /> -->
        <DownloadApps/>
    </section>
</Base>