---
import Base from '../layouts/Base.astro';
import DownloadApps from '../components/DownloadApps.astro';
---
<Base>
    <!-- Hero Text -->
    <section class="
        col-start-2
        col-end-12
        lg:col-start-4
        lg:col-end-10
        2xl:col-start-5
        2xl:col-end-9
    ">
        <p class="py-4">Peer-to-peer collaboration <br> for communities of all <br> shapes and sizes.</p>
        <p class="py-4">Tlon is built to trust. <br> Built to last. <br> Because it's built on Urbit.</p>
        <!-- <Button label="Get started for free" link="https://tlon.network/lure/~loshut-lonreg/tlon" /> -->
        <DownloadApps/>
    </section>

    <!-- Hero Image -->
    <img 
        src="/hand.png"
        class="
            dark:mix-blend-screen
            dark:invert
            col-start-2
            col-end-12
            lg:col-start-3 
            lg:col-end-11 
            2xl:col-start-1
            2xl:col-end-13
    "/>
    
    <!-- App Features -->
    <section class="
        col-start-2
        col-end-12
        lg:col-start-4
        lg:col-end-10
        2xl:col-start-5
        2xl:col-end-9
    ">
        <section class="bg-neutral-50 rounded-xl mb-12 px-8 py-5">
        <p class="py-4">Communities your way</p>
        <p class="py-4">Whether you’re a team, a publication, or a group of friends, Tlon provides a few simple basics that communities can shape into something unique to their needs.</p>
        <p class="py-4">The internet is intimate again. </p>
        </section>

        <section class="bg-neutral-50 rounded-xl mb-12 px-8 py-5">
        <p class="py-4">Everything in one place</p>
        <p class="py-4">Tlon offers a handful of channel types to get your community started.</p>
        <p class="py-4">Chat, write, and archive media—all under one roof with a single login.</p>
        </section>

        <section class="bg-neutral-50 rounded-xl mb-12 px-8 py-5">
        <p class="py-4">Yours to own, completely</p>
        <p class="py-4">Unlike most software out there, Tlon is decentralized and open source. Each member accesses Tlon through their very own, unique Urbit ID, making for a truly peer-to-peer network.</p>
        <p class="py-4">No middlemen accessing your data or endangering the integrity of the platform. Get comfortable and compute in peace.</p>
        </section>

        <section class="bg-neutral-50 rounded-xl mb-12 px-8 py-5">
        <p class="py-4">Simple to set up</p>
        <p class="py-4">Tlon is built on Urbit, a new software stack carefully built to enable true extendability and ownership.</p>
        <p class="py-4">To use Tlon, your Urbit ID has to be online. Your Tlon account is supported by Tlon Hosting Services, which keeps your Urbit running and maintained.</p>
        </section>

        <section class="bg-neutral-50 rounded-xl mb-12 px-8 py-5">
        <p class="py-4">Easy to grow</p>
        <p class="py-4">Generate invite links from your Tlon app for friends who aren’t on the network, setting them up with an Urbit ID in few quick steps.</p>
        </section>

        <!-- Editorial Outro -->

        <!-- Editorial Video -->
        <iframe 
            class="
                w-full 
                aspect-video
                rounded
                my-6
            " 
            src="https://www.youtube.com/embed/y4fcqHVkxqE?si=iph69ptKRcJk5uOA" 
            title="Tlon Promo Video" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen
        >
        </iframe>

        <!-- Editorial Text -->
        <h2 class="pt-4 font-semibold">A note from the other side:</h2>
        <p class="py-4">You receive a message. There's a purity to it that you can't quite place. You can almost pluck it right off your screen. It's as alive as a whisper spoken from one friend to another, as they part ways at a train station. It's as authentic as a love letter. As personal as an apology. As material as a family recipe passed down through generations.</p>
        <p class="py-4">Because there's no one—besides yourself and the sender—storing the message on your behalf. There's no one acting as a middle man between the transaction. It belongs only to the two of you. It always will.</p>
        <p class="py-4">A meetup invitation lives solely amongst a group, binding them closer. A journal entry stays entirely with you. A developer named Andrey's latest bookkeeping app ships directly to someone named Savannah, whose bookkeeping stays safely with her.</p>
        <p class="py-4">The difference appears small on paper. But it's everything. The internet had gotten between our most important moments. Our most private and precious interactions. Now, it recedes beneath us, enabling a truly person-to-person network, where we build with our own tools, on our own platforms, for people we call our community.</p>
        <p class="py-4">This is the internet we've dreamed of—both before we knew what was possible and after we knew what was at stake.</p>
        <p class="py-4">It's possible on Urbit. And Tlon is your point of entry.</p>
        <!-- <p class="py-4 italic">Originally published in <a class="underline decoration-[1.5px] underline-offset-[3px] decoration-neutral-400" href="https://tlon.network/lure/~loshut-lonreg/tlon">Tlon Local</a>, our growing community on the <a class="underline decoration-[1.5px] underline-offset-[3px] decoration-neutral-400" target="_blank" href="https://urbit.org/">Urbit</a> network.</p> -->
        <!-- <p class="py-4">Getting started is now free and easy. You can also <a class="underline decoration-[1.5px] underline-offset-[3px] decoration-neutral-400" href="https://tlon.us14.list-manage.com/subscribe?u=f9f52f752b920bad5e8b46282&id=6d15c14b9a">subscribe to our newsletter</a>.</p> -->
        <!-- <Button label="Join the community" link="https://tlon.network/lure/~loshut-lonreg/tlon" /> -->
        <DownloadApps/>
    </section>
</Base>