---
import Base from '../layouts/Base.astro';
import Button from '../components/Button.astro';
---
<Base>
    <!-- Hero Image -->
    <section class="flex justify-center px-6 lg:px-32">
        <img 
            src="/landscape.png"
            class="w-screen mt-6 mb-6 lg:mt-18 lg:mb-12 rounded-md drop-shadow-2xl"
        />
    </section>

    <!-- Editorial -->
    <section class="flex flex-col justify-center px-6 lg:px-32">
        <article class="tracking-tight max-w-xl self-center">
            <p class="pt-12 pb-4 text-xl lg:text-2xl">What's Landscape? </p>

            <p class="py-4">It looks simple. </p>
            <p class="py-4">A milky white surface beneath a small grid of tiles welcomes you. From there, you’re launched into what looks like a minimalist Discord or a stripped-down Telegram. It’s clean. It’s quiet. It’s calm. </p>
            <p class="py-4">This is Landscape from a newcomer’s perspective. Open road. Full tank. Blue skies. </p>
            <p class="py-4">In a way, Landscape is exactly what it sounds like: an open expanse full of possibility. </p>
            <p class="py-4">Across its expanse, you’ll find a place for people to connect in ways we’ve all grown familiar with—chatting, collaborating, sharing ideas—while using tools unlike any we’ve ever used before—tools over which you have total ownership and control.</p>
            <p class="py-4">What makes Landscape unlike anything we’ve ever used? And despite its seeming simplicity, what makes it so boundless?</p>

            <p class="pt-12 pb-4 text-xl lg:text-2xl">We build the basics, you build the rest.</p>

            <p class="py-4">Landscape is different because it’s built on Urbit. </p>
            <p class="py-4">Urbit’s full-stack reimagining of computing enables a platform like Landscape to really flourish. That’s why we built Urbit to begin with. To make personalized, unconstrained, truly great software. </p>
            <p class="py-4">It’s also why we approach Landscape’s functionality and design with such simplicity. If Landscape’s open-source, Urbit-native makeup allows for anyone to extend it however they’d like, why would we, Tlon Corporation, define the limits of these tools? Instead, we simply set the scene with a few core functionalities to get you started. </p>
            <p class="py-4">Groups is our flagship app for accommodating communities of all shapes and sizes, needs and interests. You can build a space composed of channels with varying functionalities and permissions. Right now those functionalities include Talk for discussion, Notebook for writing, and Gallery for multimedia archiving. It’s like wrapping Telegram, Medium and Tumblr into one clean and simple interface with a single login.</p>
            <p class="py-4">Talk is our standalone communication app. In Talk—as well as its mobile counterpart Small Talk—you’ll find direct messages alongside all your Group discussions. It’s simple in its functionality, but pretty massive in its demonstration of app interoperability. </p>
            <p class="py-4">Because all apps on Landscape have one login and can push and pull data from one another, it’s easy to extend applications to tailor your digital experience to fit your preferences. </p>
            <p class="py-4">We’ll soon introduce standalone Notebook and Gallery apps that are capable of talking with the data from your Groups.</p>
           
            <p class="pt-12 pb-4 text-xl lg:text-2xl">Apps don’t matter. People do.</p>

            <p class="py-4">Yeah, we built Landscape. But we’re not the only ones making apps. Once again, we designed our suite of apps to be as simple and flexible as possible so people can make it theirs. Our apps are almost besides the point. It’s the people and how they use our tools that count. </p>
            <p class="py-4">Heed is a great example of our community taking advantage of Landscape’s open-source foundation. ~sogrum-savluc made an app that reorganizes your Gallery channels into a single feed you can browse and comment on, just like Instagram. Would I personally prefer to leave Instagram behind for something more clutter-free like Groups? Yes. Do I think that’s the only way to present media on Landscape? Definitely not. ~sogrum-savluc saw a way to personalize the Landscape user experience and, pulling data from the Groups app, made it happen. </p>
            <p class="py-4">Likewise with s’core, a leaderboard app you can integrate with Groups. Using data from Groups, ~paldev created a way to tally activity among any given community. </p>
            <p class="py-4">Not only are apps easy to extend on Landscape. They’re easy to ship and scale. That’s because Landscape isn’t just a collection of apps. It’s a distribution system for apps. It’s almost like making the App Store the place where you do all your chatting and writing, in addition to where you get your apps. </p>
            <p class="py-4">The coolest, most freeing thing about this app distribution system? Because each user on Landscape runs their own software and custodies their own data, developers get to skip the hurdle of how to keep their apps running, where to store that data and what to do with it. </p>
            <p class="py-4">Instead, they get to jump right into the meat of the app. </p>
            <p class="py-4">Typically when building an app, a developer has a ton of upfront costs. They’ve got to build a system for authentication. They’ve got to decide how they’re going to handle user details, store data and process data. They’ve got to decide how they’re going to keep it online. And that’s just to get it started. If the app blows up, their server bills are going to get really expensive. Developers are used to this, and it’s why you might see so many people raising money before they even start to build. It’s also why you see some developers sell off their apps as soon as they gain momentum (see Wordle). </p>
            <p class="py-4">On Landscape, you don’t deal with authentication because everyone has a single login for everything. They’re logged in to your app before you’ve even made it. Neither do you have to store user data because each user stores their own data. You just write the core of the app, save it to Urbit’s file system, create a universal location at which the app exists and wait for your friends to download it from that location. No upfront costs. </p>
            <p class="py-4">It’s very exciting to think about what developers will do with the extra creative bandwidth usually drained by the upfront hurdles that are no longer necessary. It’s exciting to imagine how applications will evolve when data can move so seamlessly between them. It feels organic. It feels personal. It is personal. </p>
            <p class="py-4">In a world where software lives so freely, you and your community are the center of the experience—not the software itself.</p>
            <p class="py-4">We encourage you to play around.</p>

            <Button label="Get Started for Free" link="https://tlon.network/lure/~nibset-napwyn/tlon" />
        </article>
    </section>

    
</Base>