---
import Base from '../layouts/Base.astro';
import Button from '../components/Button.astro';
import PostNav from '../components/PostNav.astro';
---
<Base>
    <section class="
        col-start-2
        col-end-12
        lg:col-start-4
        lg:col-end-10
    ">
        <p class="py-4">Tlon is not an ordinary software company.</p>
    </section>

    <img 
        src="/memories.png"
        class="col-start-2 col-end-12 my-4"
    />

    <section class="
        col-start-2
        col-end-12
        lg:col-start-4
        lg:col-end-10
    ">
        <p class="py-4">Most of the cloud software we use—apps, social networks, and so on—are built with existing technology running on a server controlled and maintained by a company.</p>
        <p class="py-4">Tlon builds cloud software, but we do it completely differently.</p>
        <p class="py-4">During the 2007 iPhone launch, Steve Jobs quoted Alan Kay: “People who are really serious about software should make their own hardware.”</p>
        <p class="py-4">Kay was right, at the time. In the pre-internet world from which he made his claim, it was hardware that defined the boundaries of what you could build with software. To build software without constraints, you had to have a hand in the hardware.</p>
        <p class="py-4">Today, in a world where every computer and every device is networked, hardware is no longer the sole arbiter of software. Our software has to run on a variety of devices, all of which are connected. Today, it’s the server that ultimately determines what our software is, how it works, when it updates, and who it can talk to. To deliver truly great software without constraints, you’ve gotta control the server side.</p>
        <p class="py-4">Tlon operates on a sentiment similar to Alan Kay’s ‘build your own hardware’, only updated for a post-internet world: people who are really serious about cloud software should build their own cloud computer.</p>
        <p class="py-4">Why a cloud computer? We live in a world knit together by cloud software. It’s the connective tissue of the world but it’s nowhere near its potential.</p>
        <p class="py-4">To us, great cloud software means freely composable, recombinable, customizable, extensible and fun. And you own it, of course. Cloud software like that would empower people to freely create community, define their means for collaboration and invent ways of being connected.</p>
        <p class="py-4">Instead, today’s cloud software is rigid and controlling. When a company controls the server side, cloud software is stuck at a local maximum.</p>
        <p class="py-4">To make it possible to build great cloud software we built a new computing platform for an individual to control their own server in the cloud. We called it Urbit.</p>
        <p class="py-4">To build Urbit, we had to reimagine what it would mean for a server to be personal. Today, we connect to our cloud software that’s run by someone else. We imagined a future where our cloud software comes to us—and we install it on a system each person could run themselves.</p>
        <p class="py-4">Building Urbit was, in practice and technically, a wildly creative act that required both first-principles thinking and disciplined engineering effort. Urbit is unlike anything else that exists, because nothing else is designed to solve the problem of giving someone a single place to run their whole digital life however they like.</p>
        <p class="py-4">We didn’t make Urbit so we could control it, of course. We made Urbit so everyone can control their own computing in the cloud. Urbit is completely open source and owned by the people who depend on it.</p>
        <p class="py-4">Urbit has grown into an earnest community of contributors, hobbyists and hackers who believe in this vision of the future. Urbit has become a reliable foundation for a new era of personal computing in the cloud.</p>
        <p class="py-4">So, since 2020, we’ve focused entirely on pursuing our dream of building truly great cloud software for people by building on top of Urbit. We live on Urbit from day to day and use it to stay connected, collaborate and build our community.</p>
        <p class="py-4">So yes, technically we’re a software company. But we’re building a category of cloud software that has never been possible before: software that you own, control and lasts forever. With the exception of a few other pioneering companies on Urbit, we’re the only ones doing it this way.</p>
        <p class="py-4">To build our software is also to realize our vision of the future where the digital world is shaped and moved forward by the people who depend on it. Day in and day out, we rely on the tools that we build to stay connected and we live and work inside the world we’re creating. It feels completely different than anything else out there.</p>
        <p class="py-4">It’s the internet that we’ve only ever dreamed of. It’s the path not taken. And we’re not doing it alone.</p>
        <p class="py-4">For starters, we invite you to join Tlon Local, our little home on the Urbit network. Feel free to chime in at the Internet Cafe, our general discussion, or Builders, our more developer-forward chat.</p>
        <Button label="Get Started for Free" link="https://tlon.network/lure/~nibset-napwyn/tlon" />
    </section>
    <PostNav/>
</Base>