---
import Base from '../layouts/Base.astro';
import Column from '../components/Column.astro';
import DownloadApps from '../components/DownloadApps.astro'
---
<Base>
    <Column>
        <h2 class="pt-4 italic font-semibold">Tlonward</h2>
        <p class="pb-2">The Next Chapter of Networked Computing</p>
        <p class="pb-4 text-sm">Originally published in <a class="underline decoration-[1px] underline-offset-[3px] decoration-neutral-400" href="https://tlon.network/lure/~loshut-lonreg/tlon">Tlon Local</a>.<p/>
    </Column>

    <img 
    src="/platforms.png"
    class="
        col-start-2 
        col-end-12
        my-4
    "/>

    <Column>
        <p class="py-4">We’ve watched a lot of platforms live and die, and because of this we’ve undergone just as many platform migrations. Or we’ve seen them change into things we no longer want. After jumping ship, if we’re lucky enough to hold onto our data, we have to migrate it over to yet another platform.</p>
        <p class="py-4">As users, we’ve lost too much along the way. As developers, we’ve hit way too many dead ends.</p>
        <p class="py-4">We wanted a place to build our community that we could pour ourselves into and commit to without anything getting swept from under our feet. We wanted a place to stay connected that can evolve far into the future. We wanted a place in the digital world where we could make our own rules.</p>
        <p class="py-4">Landscape is that place.</p>
    </Column>

    <img 
    src="/gallery.png"
    class="
        col-start-2 
        col-end-12
        rounded
        lg:rounded-xl
        lg:border
        border-[.5px]
        dark:border-none
        border-zinc-300 
        shadow-2xl 
        shadow-zinc-200
        dark:shadow-none 
        my-4
    "/>
    
    <Column>
        <h2 class="py-4 italic font-semibold">We build the basics, you build the rest.</h2>

        <p class="py-4">We believe people should be able to shape their environment they use to stay connected. Not Tlon or any other company.</p>
        <p class="py-4">Built on <a class="underline decoration-[1.5px] underline-offset-[3px] decoration-neutral-400" target="_blank" href="https://urbit.org/">Urbit’s</a> open source bedrock, Landscape affords us the freedom to mold it on an individual basis, ensuring the platform will complement our personal needs and withstand change well into the future.</p>
        <p class="py-4">Tlon simply sets the scene with a few core primitives to get you started.</p>
        <p class="py-4">Groups is our flagship app for communities of all shapes and sizes, needs and interests. You can build a space composed of channels with varying functionalities and permissions. Right now those functionalities include Talk for discussion, Notebook for writing, and Gallery for multimedia archiving. It’s like wrapping Discord, Medium and Tumblr into one clean and simple interface with a single login.</p>
        <p class="py-4">Groups could serve as a team communication tool connecting members of <a class="underline decoration-[1.5px] underline-offset-[3px] decoration-neutral-400" target="_blank" href="https://twitter.com/tloncorporation/status/1668684969483411456">various roles</a>. It could be a publishing platform for an individual looking to reach an audience in a more social way. Or it could be a place for updates between a group of friends.</p>
        <p class="py-4">Talk is our standalone communication app where you’ll find DM’s alongside all your Group discussions. <a class="underline decoration-[1.5px] underline-offset-[3px] decoration-neutral-400" target="_blank" href="https://testflight.apple.com/join/Yzj1SxSH">Small Talk</a>, its iOS counterpart, is currently in beta. Talk is simple in its functionality, but shows off app interoperability really nicely. Only care about the chat functionality of Landscape? Just use Talk to cut through the rest and view all your conversations from across the network in one place.</p>
        <p class="py-4">Notebooks and Galleries are our next standalone apps, and we’ve got a few more up our sleeve after that.</p>
        <img 
        src="/mobile.png"
        class="
            my-6
        "/>
        <section class="flex justify-center"><DownloadApps /></section>
    </Column>
    
    <Column>
        <h2 class="py-4 italic font-semibold">Apps don’t matter. People do.</h2>

        <p class="py-4">Tlon built Landscape, but we’re certainly not the only ones making apps.</p>
        <p class="py-4">Because all Landscape apps have one login and can push and pull data from one another, it’s easy to tailor your digital toolkit to fit your preferences. If you want to replace Groups and Talk, feel free to build better, more featureful versions, or extensions or compliments to them.</p>
        <p class="py-4">Let’s say your friend or colleague comes up with a better messenger app they built on top of our Talk app, or a remix of our Notebook app more tailored to your group’s writing needs. You can switch to using those apps without losing any of the conversations or work you had in Talk and Notebook. It’s kind of like being able to edit the same set of documents on Roam, Google Docs and Notion, or messaging your friends on Telegram from Signal.</p>
        <p class="py-4"><a class="underline decoration-[1.5px] underline-offset-[3px] decoration-neutral-400" target="_blank" href="https://sogrum-savluc.me/public/applications/heed">Heed</a> is a great example of our community taking advantage of Landscape’s open-source foundation. ~sogrum-savluc made an app that reorganizes your Gallery channels into a single feed you can browse and comment on, just like Instagram. Would Tlon personally prefer to leave Instagram behind for something more clutter-free like Groups? Yes. Do we think that’s the only way to present media on Landscape? Definitely not. ~sogrum-savluc saw a way to personalize the Landscape user experience and, pulling data from the Groups app, made it happen. Similarly, but in a totally different style, ~paldev’s <a class="underline decoration-[1.5px] underline-offset-[3px] decoration-neutral-400" target="_blank" href="https://github.com/Fang-/suite/blob/master/app/scooore.hoon">s'core</a> is a leaderboard app that pulls data from the groups you're in.</p>
        <p class="py-4">We should point out that Landscape isn’t just a collection of apps. It’s a distribution system for apps, making it just as easy to ship and scale apps as it is to build them.</p>
        <p class="py-4">Typically when building an app, a developer has a ton of upfront costs. They’ve got to decide what stack to use and set it up. They’ve got to build a system for authentication. They’ve got to decide how they’re going to handle user details, store data and process data. They’ve got to decide how they’re going to keep it online. That’s just to get it started. If the app blows up, their server bills are going to get really expensive. It’s why you might see so many people raising money before they even start to build, or some developers selling off their apps as soon as they gain momentum.</p>
        <p class="py-4">On Landscape, you don’t deal with authentication because everyone has a single login for everything. They’re logged in before they even install your app. Neither do you have to store user data because each user custodies their own data. You can jump right into the meat of the app.</p>
        <p class="py-4">Landscape becomes a place where a whole universe of small apps can take off without the pressure to monetize or grow (we do look forward to implementing a simple compensation model for developers).</p>
        <p class="py-4">Our apps are almost besides the point. It’s the people and how they use our tools that count.</p>
    </Column>

    <img 
    src="/notebook.png"
    class="
        col-start-2 
        col-end-12
        rounded
        lg:rounded-xl
        lg:border
        border-[.5px]
        dark:border-none
        border-zinc-300 
        shadow-2xl 
        shadow-zinc-200
        dark:shadow-none 
        my-4
    "/>

    <Column>
        <h2 class="py-4 italic font-semibold">Landscape Tomorrow</h2>

        <p class="py-4">Today, Landscape is small, simple, and straightforward. But we’re excited about what’s to come—for both users and developers.</p>
        <p class="py-4">It’s inspiring to imagine how communities will grow when they're not beholden to any specific way of creating their group. It’s exciting to think about what developers will do with the reclaimed creative bandwidth usually burned by the upfront hurdles, and how applications will evolve when data can move so seamlessly between them.</p>
        <p class="py-4">When a small town neighborhood thinks their community garden could benefit from more vegetables, they don’t move to another town that has vegetables. They plant the vegetable garden. Landscape communities should grow just as organically. They’ll be able to add new features, extensions and functionality where they need them. They’ll be able to build new apps on top of their community instead of signing up for another platform.</p>
        <p class="py-4">All with the peace of mind that none of it will ever be taken from you. Even in the scenario that Tlon ceases to exist, you’ll still have Landscape and the things you created with it. It’s designed to outlive the company that built it, as durable as a thousand year old hammer and chisel.</p>
        <p class="py-4">In a world where cloud software is so unconstrained and truly peer to peer, you and your community are the center of the experience—not the software itself.</p>
        <p class="py-4">Tlon Local is a living, breathing example of just that—where we collectively explore the question: what does digital homesteading mean to you? We encourage you to join and play around.</p>
        <DownloadApps />
    </Column>
</Base>