---
---
<section class="
        grid
        grid-cols-1
        grid-rows-1
        gap-24
        col-start-2
        col-end-12
        lg:col-start-4
        lg:col-end-10
        font-sans
    ">
        <section class="grid gap-8 lg:grid-cols-2">
            <img class="rounded-md" src="/features2/COMMUNITIES.png"/>
            <div class="place-self-center">
                <h2 class="pb-4 font-regular text-4xl lg:text-4xl 2xl:text-5xl">Communities your way</h2>
                <p class="py-2 lg:text-base 2xl:text-xl dark:text-white dark:text-opacity-60">Whether you’re a team, a publication, or a group of friends, Tlon provides a few simple basics that communities can shape into something unique to their needs.</p>
            </div>
        </section>

        <section class="grid gap-8 lg:grid-cols-2">
            <img class="rounded-md" src="/features2/ONEPLACE.png"/>
            <div class="place-self-center">
                <h2 class="pb-4 font-regular text-4xl lg:text-4xl 2xl:text-5xl">Everything in one place</h2>
                <p class="py-2 lg:text-base 2xl:text-xl dark:text-white dark:text-opacity-60">Tlon offers a handful of channel types to get your community started.</p>
                <p class="py-2 lg:text-base 2xl:text-xl dark:text-white dark:text-opacity-60">Chat, write, and archive media—all under one roof with a single login.</p>
            </div>
        </section>

        <section class="grid gap-8 lg:grid-cols-2">
            <img class="rounded-md" src="/features2/ID.png"/>
            <div class="place-self-center">
                <h2 class="pb-4 font-regular text-4xl lg:text-4xl 2xl:text-5xl">Yours to own, completely</h2>
                <p class="py-2 lg:text-base 2xl:text-xl dark:text-white dark:text-opacity-60">Unlike most software out there, Tlon is decentralized and open source. Each member accesses Tlon through their very own, unique Urbit ID, making for a truly peer-to-peer network.</p>
                <p class="py-2 lg:text-base 2xl:text-xl dark:text-white dark:text-opacity-60">No middlemen accessing your data or endangering the integrity of the platform. Get comfortable and compute in peace.</p>
            </div>
        </section>

        <section class="grid gap-8 lg:grid-cols-2">
            <img class="rounded-md" src="/features2/EASY.png"/>
            <div class="place-self-center">
                <h2 class="pb-4 font-regular text-4xl lg:text-4xl 2xl:text-5xl">Simple to set up</h2>
                <p class="py-2 lg:text-base 2xl:text-xl dark:text-white dark:text-opacity-60">Tlon is built on Urbit, a new software stack carefully built to enable true extendability and ownership.</p>
                <p class="py-2 lg:text-base 2xl:text-xl dark:text-white dark:text-opacity-60">To use Tlon, your Urbit ID has to be online. Your Tlon account is supported by Tlon Hosting Services, which keeps your Urbit running and maintained.</p>
            </div>
        </section>

        <section class="grid gap-8 lg:grid-cols-2">
            <img  class="rounded-md"src="/features2/INVITE.png"/>
            <div class="place-self-center">
                <h2 class="pb-4 font-regular text-4xl lg:text-4xl 2xl:text-5xl">Easy to grow</h2>
                <p class="py-2 lg:text-base 2xl:text-xl dark:text-white dark:text-opacity-60">Generate invite links from your Tlon app for friends who aren’t on the network, setting them up with an Urbit ID in few quick steps.</p>
            </div> 
        </section>
    </section>  