---
---
<section class="grid grid-cols-1 sm:grid-cols-2 gap-4 col-start-2 col-end-12 lg:col-start-3 lg:col-end-11 font-sans text-base">
    <section class="bg-neutral-50 dark:bg-black rounded-xl p-8">
        <img class="w-100 rounded-md" src="/features/resources.png" />
        <div class="">
            <p class="py-2 font-semibold text-3xl">Communities your way</p>
            <p class="">Whether you’re a team, a publication, or a group of friends, Tlon provides a few simple basics that communities can shape into something unique to their needs.</p>
        </div>
    </section>

    <section class="bg-neutral-50 dark:bg-black rounded-xl p-8">
        <img class="w-100 rounded-md" src="/features/channels.png" />
        <div class="">
            <p class="py-2 font-semibold text-3xl">Everything in one place</p>
            <p class="py-2">Tlon offers a handful of channel types to get your community started.</p>
            <p class="py-2">Chat, write, and archive media—all under one roof with a single login.</p>
        </div>
    </section>

    <section class="bg-neutral-50 dark:bg-black rounded-xl p-8">
        <img class="w-100 rounded-lg" src="/features/id.png" />
        <div class="">
            <p class="py-2 font-semibold text-3xl">Yours to own, completely</p>
            <p class="py-2">Unlike most software out there, Tlon is decentralized and open source. Each member accesses Tlon through their very own, unique Urbit ID, making for a truly peer-to-peer network.</p>
            <p class="py-2">No middlemen accessing your data or endangering the integrity of the platform. Get comfortable and compute in peace.</p>
        </div>
    </section>

    <section class="bg-neutral-50 dark:bg-black rounded-xl p-8">
        <img class="w-100 rounded-md" src="/features/urbit.png" />
        <div class="">
            <p class="py-2 font-semibold text-3xl">Simple to set up</p>
            <p class="py-2">Tlon is built on Urbit, a new software stack carefully built to enable true extendability and ownership.</p>
            <p class="py-2">To use Tlon, your Urbit ID has to be online. Your Tlon account is supported by Tlon Hosting Services, which keeps your Urbit running and maintained.</p>
        </div>
    </section>

    <section class="bg-neutral-50 dark:bg-black rounded-xl p-8">
        <img class="w-100 rounded-md" src="/features/invites.png" />
        <div class="">
            <p class="py-2 font-medium text-2xl">Easy to grow</p>
            <p class="py-2">Generate invite links from your Tlon app for friends who aren’t on the network, setting them up with an Urbit ID in a few quick steps.</p>
        </div>
    </section>
</section>
