---
---
<section class="
        grid
        grid-cols-1
        grid-rows-1
        lg:grid-cols-3
        lg:grid-rows-2
        gap-8
        col-start-2
        col-end-12
        lg:col-start-3
        lg:col-end-11
        font-sans
        text-base
    ">
        <section class="bg-neutral-50 dark:bg-black flex flex-col justify-between rounded-2xl px-8 pt-8 pb-4 row-span-2">
            <img src="/features/resources.png"/>
            <div class="">
                <p class="py-2 font-semibold">Communities your way</p>
                <p class="">Whether you’re a team, a publication, or a group of friends, Tlon provides a few simple basics that communities can shape into something unique to their needs.</p>
            </div>
        </section>

        <section class="bg-neutral-50 dark:bg-black flex flex-col justify-between rounded-2xl px-8 pt-8 pb-4 row-span-1">
            <img class="" src="/features/channels.png"/>
            <div class="">
                <p class="py-2 font-semibold">Everything in one place</p>
                <p class="py-2">Tlon offers a handful of channel types to get your community started.</p>
                <p class="py-2">Chat, write, and archive media—all under one roof with a single login.</p>
            </div>
        </section>

        <section class="bg-neutral-50 dark:bg-black flex flex-col justify-between rounded-2xl px-8 pt-8 pb-4">
            <img class="" src="/features/id.png"/>
            <div class="self-end">
                <p class="py-2 font-semibold">Yours to own, completely</p>
                <p class="py-2">Unlike most software out there, Tlon is decentralized and open source. Each member accesses Tlon through their very own, unique Urbit ID, making for a truly peer-to-peer network.</p>
                <p class="py-2">No middlemen accessing your data or endangering the integrity of the platform. Get comfortable and compute in peace.</p>
            </div>
        </section>

        <section class="bg-neutral-50 dark:bg-black flex flex-col justify-between rounded-2xl px-8 pt-8 pb-4">
            <img class="" src="/features/urbit.png"/>
            <div class="">
                <p class="py-2 font-semibold">Simple to set up</p>
                <p class="py-2">Tlon is built on Urbit, a new software stack carefully built to enable true extendability and ownership.</p>
                <p class="py-2">To use Tlon, your Urbit ID has to be online. Your Tlon account is supported by Tlon Hosting Services, which keeps your Urbit running and maintained.</p>
            </div>
        </section>

        <section class="bg-neutral-50 dark:bg-black flex flex-col justify-between rounded-2xl px-8 pt-8 pb-4">
            <img  class=""src="/features/invites.png"/>
            <div class="">
                <p class="py-2 font-semibold">Easy to grow</p>
                <p class="py-2">Generate invite links from your Tlon app for friends who aren’t on the network, setting them up with an Urbit ID in few quick steps.</p>
            </div> 
        </section>
    </section>  