---
const { label, link } = Astro.props;
---

<astro-button>
  <a
    class="
      lg:inline-block
      bg-black bg-opacity-10 dark:bg-white text-black
      text-base
      py-2
      px-6
      my-0
      rounded
      font-sans
      "
      href={link}
      target="_blank">
    {label}
  </a>
</astro-button>

<script>
  import posthog from 'posthog-js';

  class AstroButton extends HTMLElement {
    constructor() {
      super();
      if(posthog.__loaded && posthog.get_distinct_id()) {
        const button = this.querySelector('a');
        if(button) {
          button.href = `${button.href}?id=${posthog.get_distinct_id()}`;
        }
      }
    }
  }

  customElements.define('astro-button', AstroButton);
</script>
