---
const { label, link } = Astro.props;
---

<a class="
    inline-block
    bg-stone-800 
    text-white 
    dark:bg-stone-300 
    dark:text-stone-800 
    text-lg 
    tracking-tight 
    py-3 
    px-6
    my-6
    lg:my-12
    rounded-lg
    "
    href={link}
    target="_blank">
  {label}
</a>

<script>
  import posthog from 'posthog-js';
  // if posthog is loaded and not blocked by client (e.g. Brave), then add the id to the link
  if(posthog.__loaded && posthog.get_distinct_id()) {
    const button = document.querySelector('a');
    if (button) {
      button.href = `${button.href}#id=${posthog.get_distinct_id()}`;
    }
  }
</script>
