---
const { label, link } = Astro.props;
---

<a class="
    inline-block
    bg-stone-800 
    text-white 
    dark:bg-stone-300 
    dark:text-stone-800 
    text-lg 
    tracking-tight 
    py-3 
    px-6
    my-6
    lg:my-12
    rounded-lg
    "
    href={link}>
    {label}
</a>