---
import DownloadApple from '../components/DownloadApple.astro';
import DownloadGoogle from '../components/DownloadGoogle.astro'
import Button from '../components/Button.astro';
---
<section class="flex gap-2 py-8">
    <a href="https://testflight.apple.com/join/UoncXl1k" target="_blank"><DownloadApple/></a>
    <a href="https://play.google.com/store/apps/details?id=io.tlon.groups&pli=1" target="_blank"><DownloadGoogle/></a>
    <Button label="Get started on Desktop" link="https://join.tlon.io/nibset-napwyn-tlon"></Button>
</section>