---
import DownloadApple from '../components/DownloadApple.astro';
import DownloadGoogle from '../components/DownloadGoogle.astro'
---
<section class="flex gap-4 py-8">
    <a href="/"><DownloadApple/></a>
    <a href="/"><DownloadGoogle/></a>
</section>