---
import DownloadApple from '../components/DownloadApple.astro';
import DownloadGoogle from '../components/DownloadGoogle.astro'
import Button from '../components/Button.astro';
---
<section class="flex gap-4 py-8">
    <a href="/"><DownloadApple/></a>
    <a href="/"><DownloadGoogle/></a>
    <Button label="Get started on Desktop" link=""></Button>
</section>