<footer>
<section class="mt-20 grid lg:grid-flow-col gap-8 text-neutral-400">
    <section class="flex flex-col gap-3">
        <p class="text-black">Tlon Corporation</p>
        <p>English</p>
        <p><a class="text-neutral-400" href="/privacy">Privacy</a> & <a class="text-neutral-400" href="/terms">Terms</a></p>
    </section>

    <section class="lg:justify-self-end flex flex-col gap-3">
        <p class="text-black">Products</p>
        <p>Landscape</p>
        <p>Tlon Hosting</p>
        <p>Landscape API</p>
    </section>

    <section class="lg:justify-self-end flex flex-col gap-3">
        <p class="text-black">Resources</p>
        <p><a href="https://dev.tlon.io">Tlon Developer Docs</a></p>
        <p>Landscape Guidebook</p>
        <p>Support Center</p>
    </section>

    <section class="lg:justify-self-end flex flex-col gap-3">
        <p class="text-black">Company</p>
        <p>About Tlon</p>
        <p>Careers at Tlon</p>
        <p>Newsletter</p>
        <p>Twitter</p>
    </section>
</section>
<p class="mt-20 text-neutral-400">∞ 2023 Tlon Corporation</p>
</footer>