---

---
<footer class="py-3 mx-auto max-w-full my-24 px-6">
    <section class="max-w-xl mx-auto">
        <p class="pt-4 text-stone-400"><a href="/terms">Terms of Service</a></p>
        <p class="text-stone-400"><a href="/privacy">Privacy Policy</a></p>
    </section>
</footer>