---

---
<section class="
    col-start-2
    col-end-12
    lg:col-start-4
    lg:col-end-10
    2xl:col-start-5
    2xl:col-end-9
    mb-10
    lg:mt-28 
    lg:mb-36
">
    <a href=""><p class="text-neutral-400 pb-2 lg:py-4">Subscribe to Newsletter</p></a>
    <a href="/privacy"><p class="text-neutral-400 pb-2 lg:py-4">Privacy Policy</p></a>
    <a href="/terms"><p class="text-neutral-400 lg:py-4">Terms & Conditions</p></a> 
</section>