<footer class="text-base text-neutral-400 mt-32">
<section class="grid lg:grid-flow-col lg:grid-cols-6 gap-8">
    <section class="flex flex-col gap-3 lg:col-span-3">
        <p class="text-black">Tlon Corporation</p>
        <p><a class="hover:text-neutral-500" href="/">English</a></p>
        <p><a class="hover:text-neutral-500" href="/privacy">Privacy</a> & <a class="hover:text-neutral-500" href="/terms">Terms</a></p>
    </section>

    <section class=" flex flex-col gap-3 lg:col-span-1">
        <p class="text-black">Products</p>
        <p><a class="hover:text-neutral-500" href="/">Landscape</a></p>
        <p><a class="hover:text-neutral-500" href="/">Tlon Hosting</a></p>
        <p><a class="hover:text-neutral-500" href="/">Landscape API</a></p>
    </section>

    <section class=" flex flex-col gap-3 lg:col-span-1">
        <p class="text-black">Resources</p>
        <p><a class="hover:text-neutral-500" href="https://dev.tlon.io">Tlon Developer Docs</a></p>
        <p><a class="hover:text-neutral-500" href="/">Landscape Guidebook</a></p>
        <p><a class="hover:text-neutral-500" href="/">Support Center</a></p>
    </section>

    <section class=" flex flex-col gap-3 lg:col-span-1">
        <p class="text-black">Company</p>
        <p><a class="hover:text-neutral-500" href="/">About Tlon</a></p>
        <p><a class="hover:text-neutral-500" href="/">Careers at Tlon</a></p>
        <p><a class="hover:text-neutral-500" href="/">Newsletter</a></p>
        <p><a class="hover:text-neutral-500" href="https://twitter.com/tloncorporation">Twitter</a></p>
    </section>
</section>
<p class="mt-20">∞ 2023 Tlon Corporation</p>
</footer>