---
import { getFooterNav } from "../utils/api";

const links = await getFooterNav();
---

<footer role="contentinfo" class="space-y-3 py-32 text-center">
  {
    links && (
      <nav>
        <ul class="flex justify-center space-x-4">
          {links.map((link: any) => (
            <li>
              <a
                class="link-underline-hover inline-block"
                href={link.url}
                target={link.blank ? "_blank" : "_self"}
              >
                {link.text}
              </a>
            </li>
          ))}
          <li>
            <a href="/posts" class="link-underline-hover inline-block">
              Posts
            </a>
          </li>
          <li>
            <a href="/changelog" class="link-underline-hover inline-block">
              Changelog
            </a>
          </li>
        </ul>
      </nav>
    )
  }
</footer>