---

---
<div class="my-6">
    <svg 
        width="32" 
        height="32" 
        viewBox="0 0 32 32" 
        fill="none" 
        xmlns="http://www.w3.org/2000/svg"
    >
        <rect 
            width="32" 
            height="32" 
            rx="6" 
            class="
                fill-black
                dark:fill-white
            "
        />
        <path 
            fill-rule="evenodd" 
            clip-rule="evenodd"
            class="fill-white dark:fill-black"
            d="M12.6 9.29999C10.7774 9.29999 9.29999 10.7774 9.29999 12.6V19.4C9.29999 21.2225 10.7774 22.7 12.6 22.7H19.4C21.2225 22.7 22.7 21.2225 22.7 19.4V13.4181C22.7 13.4121 22.7 13.406 22.7 13.4V12.6C22.7 10.8433 21.3274 9.4072 19.5962 9.30572C19.5313 9.30192 19.4658 9.29999 19.4 9.29999H12.6ZM10.7 16.0984V19.4C10.7 20.4493 11.5506 21.3 12.6 21.3H19.4C20.4493 21.3 21.3 20.4493 21.3 19.4V16.0985C20.7628 16.4774 20.1074 16.7 19.4 16.7H12.6C11.8926 16.7 11.2372 16.4774 10.7 16.0984ZM19.5943 10.7098C20.5523 10.8071 21.3 11.6162 21.3 12.6V13.4137C21.2926 14.4567 20.4448 15.3 19.4 15.3H18.9852C18.995 15.2013 19 15.1012 19 15C19 13.3431 17.6569 12 16 12C14.3432 12 13 13.3431 13 15C13 15.1012 13.0051 15.2013 13.0148 15.3H12.6C11.5507 15.3 10.7 14.4493 10.7 13.4V12.6C10.7 11.5506 11.5507 10.7 12.6 10.7H19.4C19.4041 10.7 19.4082 10.7 19.4123 10.7C19.4737 10.7004 19.5344 10.7037 19.5943 10.7098Z"/>
    </svg>
</div>