---

---
<div class="my-6">
    <svg 
        width="32" 
        height="32" 
        viewBox="0 0 32 32" 
        fill="none" 
        xmlns="http://www.w3.org/2000/svg"
    >
        <rect 
            width="32" 
            height="32" 
            rx="6" 
            class="
                fill-black
                dark:fill-white
            "
        />
        <path 
            fill-rule="evenodd" 
            clip-rule="evenodd"
            class="fill-white dark:fill-black"
            d="M23.5 8H8.5C8.22386 8 8 8.22386 8 8.5V11.75C8 12.0261 8.22386 12.25 8.5 12.25H13C13.5523 12.25 14 12.6977 14 13.25V15.875C14 16.3582 13.6082 16.75 13.125 16.75C12.6418 16.75 12.25 16.3582 12.25 15.875V14C12.25 13.7239 12.0261 13.5 11.75 13.5H8.5C8.22386 13.5 8 13.7239 8 14V23C8 23.5523 8.44772 24 9 24H23C23.5523 24 24 23.5523 24 23V14C24 13.7239 23.7761 13.5 23.5 13.5H20.25C19.9739 13.5 19.75 13.7239 19.75 14V15.875C19.75 16.3582 19.3582 16.75 18.875 16.75C18.3918 16.75 18 16.3582 18 15.875V13.25C18 12.6977 18.4477 12.25 19 12.25H23.5C23.7761 12.25 24 12.0261 24 11.75V8.5C24 8.22386 23.7761 8 23.5 8Z"/>
    </svg>
</div>