---

---
<div class="my-6">
    <svg 
        width="32" 
        height="32" 
        viewBox="0 0 32 32" 
        fill="none" 
        xmlns="http://www.w3.org/2000/svg"
    >
        <rect 
            width="32" 
            height="32" 
            rx="6" 
            class="
                fill-black
                dark:fill-white
            "
        />
        <path 
            fill-rule="evenodd" 
            clip-rule="evenodd"
            class="fill-white dark:fill-black"
            d="M19.3 12C20.4046 12 21.3 11.1046 21.3 10C21.3 8.89543 20.4046 8 19.3 8C18.1955 8 17.3 8.89543 17.3 10C17.3 11.1046 18.1955 12 19.3 12ZM19.3 24C20.4046 24 21.3 23.1046 21.3 22C21.3 20.8954 20.4046 20 19.3 20C18.1955 20 17.3 20.8954 17.3 22C17.3 23.1046 18.1955 24 19.3 24ZM24.6 16C24.6 17.1046 23.7046 18 22.6 18C21.4955 18 20.6 17.1046 20.6 16C20.6 14.8954 21.4955 14 22.6 14C23.7046 14 24.6 14.8954 24.6 16ZM9.40002 18C10.5046 18 11.4 17.1046 11.4 16C11.4 14.8954 10.5046 14 9.40002 14C8.29545 14 7.40002 14.8954 7.40002 16C7.40002 17.1046 8.29545 18 9.40002 18ZM14.7 10C14.7 11.1046 13.8046 12 12.7 12C11.5955 12 10.7 11.1046 10.7 10C10.7 8.89543 11.5955 8 12.7 8C13.8046 8 14.7 8.89543 14.7 10ZM12.7 24C13.8046 24 14.7 23.1046 14.7 22C14.7 20.8954 13.8046 20 12.7 20C11.5955 20 10.7 20.8954 10.7 22C10.7 23.1046 11.5955 24 12.7 24Z"/>
    </svg>
</div>