---

---
<div class="my-6">
    <svg 
        width="32" 
        height="32" 
        viewBox="0 0 32 32" 
        fill="none" 
        xmlns="http://www.w3.org/2000/svg"
    >
        <rect 
            width="32" 
            height="32" 
            rx="6" 
            class="
                fill-black
                dark:fill-white
            "
        />
        <path 
            fill-rule="evenodd" 
            clip-rule="evenodd"
            class="fill-white dark:fill-black"
            d="M18.0243 9.35541C17.3758 9.77652 17.1915 10.6436 17.6126 11.292L19.3555 13.9758C19.7766 14.6242 20.6436 14.8085 21.2921 14.3874L23.9758 12.6446C24.6243 12.2235 24.8086 11.3564 24.3875 10.708L22.6446 8.02421C22.2235 7.37575 21.3565 7.19145 20.708 7.61256L18.0243 9.35541ZM10.4 8.3C9.24019 8.3 8.29999 9.2402 8.29999 10.4V13.6C8.29999 14.7598 9.24019 15.7 10.4 15.7H13.6C14.7598 15.7 15.7 14.7598 15.7 13.6V10.4C15.7 9.2402 14.7598 8.3 13.6 8.3H10.4ZM9.69999 10.4C9.69999 10.0134 10.0134 9.7 10.4 9.7H13.6C13.9866 9.7 14.3 10.0134 14.3 10.4V13.6C14.3 13.9866 13.9866 14.3 13.6 14.3H10.4C10.0134 14.3 9.69999 13.9866 9.69999 13.6V10.4ZM10.4 16.3C9.24019 16.3 8.29999 17.2402 8.29999 18.4V21.6C8.29999 22.7598 9.24019 23.7 10.4 23.7H13.6C14.7598 23.7 15.7 22.7598 15.7 21.6V18.4C15.7 17.2402 14.7598 16.3 13.6 16.3H10.4ZM9.69999 18.4C9.69999 18.0134 10.0134 17.7 10.4 17.7H13.6C13.9866 17.7 14.3 18.0134 14.3 18.4V21.6C14.3 21.9866 13.9866 22.3 13.6 22.3H10.4C10.0134 22.3 9.69999 21.9866 9.69999 21.6V18.4ZM16.3 18.4C16.3 17.2402 17.2402 16.3 18.4 16.3H21.6C22.7598 16.3 23.7 17.2402 23.7 18.4V21.6C23.7 22.7598 22.7598 23.7 21.6 23.7H18.4C17.2402 23.7 16.3 22.7598 16.3 21.6V18.4ZM18.4 17.7C18.0134 17.7 17.7 18.0134 17.7 18.4V21.6C17.7 21.9866 18.0134 22.3 18.4 22.3H21.6C21.9866 22.3 22.3 21.9866 22.3 21.6V18.4C22.3 18.0134 21.9866 17.7 21.6 17.7H18.4Z"/>
    </svg>
</div>