---

---
<div class="my-6">
    <svg 
        width="32" 
        height="32" 
        viewBox="0 0 32 32" 
        fill="none" 
        xmlns="http://www.w3.org/2000/svg"
    >
        <rect 
            width="32" 
            height="32" 
            rx="6" 
            class="
                fill-black
                dark:fill-white
            "
        />
        <path 
            fill-rule="evenodd" 
            clip-rule="evenodd"
            class="fill-white dark:fill-black"
            d="M18.7272 10.093C17.74 7.63567 14.26 7.63567 13.2728 10.093C12.8524 11.1394 11.8699 11.853 10.7444 11.9293C8.10141 12.1084 7.02602 15.4168 9.05892 17.1147C9.92462 17.8377 10.2999 18.9923 10.0247 20.0858C9.37838 22.6539 12.1938 24.6986 14.4374 23.2906C15.3928 22.691 16.6072 22.691 17.5626 23.2906C19.8062 24.6986 22.6216 22.6539 21.9753 20.0858C21.7001 18.9923 22.0754 17.8377 22.9411 17.1147C24.974 15.4168 23.8986 12.1084 21.2556 11.9293C20.1301 11.853 19.1476 11.1394 18.7272 10.093ZM16 16.9688C16.4017 16.9688 16.7273 16.6435 16.7273 16.2422C16.7273 15.8409 16.4017 15.5156 16 15.5156C15.5983 15.5156 15.2727 15.8409 15.2727 16.2422C15.2727 16.6435 15.5983 16.9688 16 16.9688Z"/>
    </svg>
</div>