---
import { getHeaderNav } from "../utils/api";
const links = await getHeaderNav();
---

<header
  role="banner"
  class="fixed left-0 top-0 z-10 flex w-full items-center justify-between bg-white px-4 leading-none lg:bg-transparent lg:px-8 lg:py-6"
>
  <a class="inline-block w-12 p-4" href="/">
    <img id="t-block" src="/icon.svg" alt="Tlon logo" />
  </a>
  {
    links && (
      <nav>
        <ul class="flex">
          {links.map((link: any) => (
            <li>
              <a
                class:list={[
                  {
                    "max-sm:hover:underline hover:sm:bg-navHover":
                      link.displayButton,
                  },
                  {
                    "link-underline-hover": !link.displayButton,
                  },
                  "inline-block rounded-lg px-4 py-2 transition-colors",
                ]}
                href={link.url}
                target={link.blank ? "_blank" : "_self"}
              >
                {link.text}
              </a>
            </li>
          ))}
        </ul>
      </nav>
    )
  }
</header>
