---
import TBlock from '../components/TBlock.astro';
---
<nav class="
    col-span-full 
    z-50

    grid grid-cols-12 gap-4 grid-flow-col

    sticky 
    top-0
    mt-24

    py-4

    dark:bg-stone-800/[.78] 
    bg-white/[.78] 
    backdrop-blur-2xl
">
    <a href="/" class="col-start-3 col-span-1">
        <TBlock />
    </a>

    <a class="
        col-start-9 col-span-1
        bg-blue-500 
        h-6
    ">
        Sign In
        </a>

    <div class="
        col-start-10 col-span-1
        bg-green-500 
        h-6
    ">
        Get Started
    </div> 
</nav>