<nav class="py-3 mx-auto max-w-full mb-24 sticky top-0 dark:bg-stone-800/90 bg-white/[.78] backdrop-blur-2xl">
    <section class="flex justify-between max-w-xl mx-auto">
        <a href="/">
            <svg 
                viewBox="0 0 27 27" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                class="
                    w-6 
                    h-6 
                    fill-stone-800
                    dark:fill-stone-300 
                " 
            >
                <path d="M23.1226 0.0785023L0.745891 2.43039C0.333947 2.47369 0.0350992 2.84274 0.0783963 3.25468L0.587973 8.10297C0.63127 8.51492 1.00032 8.81377 1.41226 8.77047L8.12528 8.0649C8.94917 7.97831 9.68726 8.576 9.77386 9.39989L10.1854 13.3158C10.2612 14.0367 9.73823 14.6826 9.01732 14.7583C8.29642 14.8341 7.65059 14.3111 7.57482 13.5902L7.28083 10.7931C7.23754 10.3812 6.86849 10.0823 6.45655 10.1256L1.60825 10.6352C1.19631 10.6785 0.897459 11.0475 0.940756 11.4595L2.35189 24.8855C2.43848 25.7094 3.17658 26.3071 4.00047 26.2205L24.8854 24.0254C25.7093 23.9388 26.307 23.2007 26.2204 22.3768L24.8093 8.9508C24.766 8.53886 24.3969 8.24001 23.985 8.28331L19.1367 8.79288C18.7248 8.83618 18.4259 9.20523 18.4692 9.61717L18.7632 12.4143C18.839 13.1352 18.316 13.781 17.5951 13.8568C16.8742 13.9325 16.2283 13.4096 16.1526 12.6887L15.741 8.77272C15.6544 7.94883 16.2521 7.21074 17.076 7.12415L23.789 6.41858C24.2009 6.37528 24.4998 6.00624 24.4565 5.59429L23.9469 0.745997C23.9036 0.334053 23.5346 0.0352051 23.1226 0.0785023Z"/>
            </svg>
        </a>

        <div class="flex gap-2">
            <a
                class="
                font-sans
                inline-block
                bg-stone-300
                text-stone-800  
                dark:bg-stone-800
                dark:text-stone-300 
                text-sm
                tracking-tight 
                py-1
                px-3
                rounded-[4px]
                "
                href="/"
                target="_blank">
                    Sign In
            </a>

            <a
                class="
                font-sans
                inline-block
                bg-stone-800 
                text-white  
                dark:bg-stone-300 
                dark:text-stone-800 
                text-sm
                tracking-tight 
                py-1
                px-3
                rounded-[4px]
                "
                href="/"
                target="_blank">
                    Get Started
            </a>
        </div>
    </section>
</nav>