---
import TBlock from '../components/TBlock.astro';
import NavButton from './NavButton.astro';
---
<header id="navbar" class="
    will-change-scroll
    col-span-full
    z-50

    grid 
    grid-cols-12 
    gap-4 
    grid-flow-col

    sticky 
    top-0
    mt-8
    lg:mt-36
    lg:mb-28

    py-4

    dark:bg-neutral-900
    bg-white

    border-b-neutral-200
    dark:border-b-neutral-800
    
    transform-gpu 
    transition-all
    duration-75
">
    <!-- T-BLOCK LOGO -->
    <nav class="
        col-start-2
        col-span-1
        lg:col-start-4 
        lg:col-span-1
        2xl:col-start-5 
        2xl:col-span-1
        h-7 
        w-7 
        hover:rotate-[-12deg] 
        transform-gpu 
        transition-all
    ">
        <a href="/" class="inline-block"><TBlock /></a>
    </nav>

    <!-- CONTROLS -->
    <nav class="
        flex 
        flex-row 
        justify-end
        gap-2 
        col-start-4
        col-span-8
        lg:col-start-7
        lg:col-span-3
        2xl:col-start-6
        2xl:col-span-3
    "> 
        <a href="https://tlon.network/login"
            class="
            bg-neutral-200
            dark:bg-neutral-800
            text-black
            dark:text-white
            
            text-sm
            font-medium

            rounded
            py-1 px-4
        ">
            Sign in
        </a>

        <NavButton label="Get started" link="https://tlon.network/lure/~nibset-napwyn/tlon" />
    </nav>
</header>