---
import TBlock from '../components/TBlock.astro';
import NavButton from './NavButton.astro';
---
<header id="navbar" class="
    will-change-scroll
    col-span-full
    z-50

    grid 
    grid-cols-12 
    gap-4 
    grid-flow-col

    sticky 
    top-0
    mt-8
    lg:mt-24
    lg:mb-16

    py-4

    dark:bg-neutral-900
    bg-white

    border-b-neutral-200
    dark:border-b-neutral-800
    
    transform-gpu 
    transition-all
    duration-75
">
    <!-- T-BLOCK LOGO -->
    <nav class="
        flex

        col-start-2
        col-span-1
        lg:col-start-4 
        lg:col-span-1
        2xl:col-start-4
        2xl:col-span-1
        
        font-sans
        font-medium
    ">
        <a href="/" class="flex gap-2.5 group hover:group-hover py-1">
            <TBlock />
            <h1 class="text-base">Tlon</h1>
        </a>
    </nav>
    

    <!-- NAVIGATION -->
    <nav class="
        flex 
        flex-row 
        justify-end
        gap-2 
        col-start-4
        col-span-8
        lg:col-start-7
        lg:col-span-3
        2xl:col-start-7
        2xl:col-span-3
    "> 
        <div id="nav-wrapper" class="hidden lg:flex lg:flex-row lg:justify-end lg:gap-2 ">
            <!-- <NavButtonPrimary label="Get Tlon" link="https://tlon.network/lure/~loshut-lonreg/tlon" /> -->
            <NavButton label="About" link="/about" />
            <NavButton label="Sign in" link="https://tlon.network/login" />
        </div>

        <!-- MOBILE-ONLY HAMBURGER MENU -->
        <div id="hamburger-icon" class="lg:hidden">
            <p class="text-black dark:text-white text-base px-3 py-1 font-sans">Menu</p>
        </div>
    </nav>

    <!-- MOBILE NAV -->
    <nav 
        id="mobile-nav" 
        class="
            absolute inset-x-0 top-16
            hidden 
            dark:bg-neutral-900
            bg-white
            border-b-neutral-200
            dark:border-b-neutral-800
            w-100
            p-8
            border-b
            z-50
        ">
        <ul>
            <li class="py-1"><a href="https://join.tlon.io/nibset-napwyn-tlon">Get Tlon</a></li>
            <li class="py-1"><a href="/about">About</a></li>
            <li class="py-1"><a href="https://tlon.network/login">Sign In</a></li>
        </ul>       
    </nav>

</header>

<!-- NAV LOCAL STYLE -->

<style>
    #nav-wrapper {}

    /* Show on larger screens */
    @media (min-width: 768px) {
        #nav-wrapper {
            display: flex;
        }
        #hamburger-icon {
            display: none;
        }
    }
</style>

<!-- NAV LOCAL LOGIC -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const mobileNav = document.getElementById("mobile-nav");
        const hamburgerIcon = document.getElementById("hamburger-icon");
        const menuText = hamburgerIcon.querySelector("p");

        // Show menu
        hamburgerIcon.addEventListener("click", () => {
            mobileNav.classList.toggle("hidden");
            if (menuText.textContent === "Menu") {
                menuText.textContent = "Close";
            } else {
                menuText.textContent = "Menu";
            }
        });
    });
</script>