---
const { label, link } = Astro.props;
---
<a href={link}>
  <astro-nav-button
  class="transform-gpu transition-all hover:bg-black hover:bg-opacity-5 dark:bg-white dark:bg-opacity-10 text-black dark:text-white text-base rounded px-3 py-1 flex items-center font-sans">
    {label}
  </astro-nav-button>
</a>

<script>
  import posthog from 'posthog-js';

  class AstroNavButton extends HTMLElement {
    constructor() {
      super();
      if(posthog.__loaded && posthog.get_distinct_id()) {
        const button = this.querySelector('a');
        if(button) {
          button.href = `${button.href}?id=${posthog.get_distinct_id()}`;
        }
      }
    }
  }

  customElements.define('astro-nav-button', AstroNavButton);
</script>
