---
const { label, link } = Astro.props;
---

<astro-nav-button
class="bg-black dark:bg-white text-white dark:text-black text-sm font-medium rounded px-4 flex items-center font-sans">
  <a href={link} target="_blank">
    {label}
  </a>
</astro-nav-button>

<script>
  import posthog from 'posthog-js';

  class AstroNavButton extends HTMLElement {
    constructor() {
      super();
      if(posthog.__loaded && posthog.get_distinct_id()) {
        const button = this.querySelector('a');
        if(button) {
          button.href = `${button.href}?id=${posthog.get_distinct_id()}`;
        }
      }
    }
  }

  customElements.define('astro-nav-button', AstroNavButton);
</script>
