---

---
<section class="grid gap-2 tracking-tight max-w-xl pb-20 mx-auto">
        <a
            class="
            inline-block
            bg-white
            hover:bg-stone-50
            dark:hover:bg-stone-600
            border-[1.4px] border-stone-200
            dark:border-[1.4px] border-stone-600
            text-black
            dark:bg-stone-700
            dark:text-white
            text-lg 
            tracking-tight 
            py-3 
            px-6
            rounded-lg
            "
            href="/landscape"
        >
        What is Landscape?
        </a>

        <a
            class="
            inline-block
            bg-white
            hover:bg-stone-50
            dark:hover:bg-stone-600
            border-[1.4px] border-stone-200
            dark:border-[1.4px] border-stone-600
            text-black
            dark:bg-stone-700
            dark:text-white
            text-lg 
            tracking-tight 
            py-3 
            px-6
            rounded-lg
            "
            href="/tlon"
        >
            Who is Tlon?
        </a>

        <a
            class="
            inline-block
            bg-white
            hover:bg-stone-50
            dark:hover:bg-stone-600
            border-[1.4px] border-stone-200
            dark:border-[1.4px] border-stone-600
            text-black
            dark:bg-stone-700
            dark:text-white
            text-lg 
            tracking-tight 
            py-3 
            px-6
            rounded-lg
            "
            href="/hosting"
        >
            Why Hosting?
        </a>
    </section>