---

---
<section class="
        col-start-2
        col-end-12
        lg:col-start-4
        lg:col-end-10
    ">
    <p class="pt-4 pb-8">Learn more:</p>
    <ol class="">
        <a href="/landscape"><li class="bg-neutral-100 mb-2 py-4 px-6 rounded-md">What is Landscape?</li></a>
        <a href="/tlon"><li class="bg-neutral-100 mb-2 py-4 px-6 rounded-md">Who is Tlon?</li></a>
        <a href="/hosting"><li class="bg-neutral-100 mb-2 py-4 px-6 rounded-md">What is Hosting?</li></a>
    </ol>
</section>