---
interface Props {
  title: string;
  titleAlignment?: string;
}

const { title, titleAlignment } = Astro.props;

const alginmentClasses = alignment => {
  switch (alignment) {
    case "center":
      return "text-center";
    case "right":
      return "text-right";
    default:
      return false;
  }
};
---

<h1 class:list={["text-xl", alginmentClasses(titleAlignment)]}>
  {title}
</h1>
