---
/*
Additional info about formatting image
https://www.sanity.io/docs/image-url#sanity-image-url
*/

import { type AssetReference } from "@utils/commonTypes";
import { urlForImage } from "../utils/urlForImage";

interface Props {
  alt: string;
  asset: AssetReference;
  maxWidth?: number;
  rounded?: boolean;
}

// Max width as 845px as thats the widest an image inside a blog post can be
const { alt, asset, maxWidth = 845, rounded } = Astro.props;

// 2x for high-density screens and provide default
const retinaMaxWidth = maxWidth * 2;

// Format URLs
const url = urlForImage(asset).width(retinaMaxWidth).url();
const webpUrl = urlForImage(asset).format("webp").width(retinaMaxWidth).url();
---

<div>
  <picture>
    <source srcset={webpUrl} type="image/webp" />
    <img class:list={[{ rounded: rounded }]} src={url} alt={alt} />
  </picture>
</div>
