---
import { type BlockVideo } from "../utils/types";
interface Props {
  asset: BlockVideo;
}
const { asset } = Astro.props;
const formattedPaddingPercent = (asset.height / asset.width) * 100 + "%";
---

<!-- Intrinsic ratio box to prevent Cumulative Layout Shift (CLS) -->
<div class="relative h-0" style=`padding-bottom: ${formattedPaddingPercent}`>
  <video class="absolute h-full w-full" controls>
    <source src={asset.url} />
  </video>
</div>
