---
const pageTitle = 'Tlon Corporation';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="p-4 lg:p-12 text-xl antialiased dark:bg-stone-800 dark:text-stone-300">
		<a href="/"><img src="/favicon.svg" class="w-5 h-5 mb-5"/></a>
		<!-- <p><a href="/">Tlon Corporation</a></p> -->
		<slot/>
	</body>
</html>

<style>
    body {
        font-family: serif;
    }
</style>