---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" type="image/png" href="favicon.svg"/>
		<link rel="apple-touch-icon" href="favicon.svg">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		
		<!-- App Store Meta -->
		<meta name="apple-itunes-app" 		content="app-id=6451392109">
				
		<!-- Primary Meta Tags -->
		<title>Tlon</title>
		<meta name="title" 					content="Tlon">
		<meta name="description" 			content="Tlon exists to build exceptionally well-crafted software for people’s everyday lives.">
  		<meta name="cf-2fa-verify" 			content="hj147kyae651DBG6j8fsg">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" 			content="website">
		<meta property="og:url" 			content="https://tlon.io/">
		<meta property="og:title" 			content="Tlon">
		<meta property="og:description" 	content="Tlon exists to build exceptionally well-crafted software for people’s everyday lives.">
		<meta property="og:image" 			content="https://d2w9rnfcy7mm78.cloudfront.net/20991844/original_05337a7edcadf2b018a2c4d14d4a3139.png">

		<!-- Twitter cards -->
		<meta name="twitter:site"    		content="@tloncorporation">
		<meta name="twitter:title"   		content="Tlon">
		<meta name="twitter:description" 	content="Tlon exists to build exceptionally well-crafted software for people’s everyday lives.">   
		<meta name="twitter:card"  			content="summary_large_image">
		<meta name="twitter:image" 			content="https://d2w9rnfcy7mm78.cloudfront.net/20991844/original_05337a7edcadf2b018a2c4d14d4a3139.png">
	</head>
	<body class="
		grid
		grid-cols-12
		gap-4
		
		text-md
		lg:text-xl
		antialiased

		dark:bg-neutral-900
		dark:text-white
	">
		<Nav/>
		<slot/>
		<Footer/>
	</body>
</html>

<script>
  import posthog from 'posthog-js';
  if(import.meta.env.PROD) {
    console.log('init posthog prod');
    posthog.init('phc_pEVFBA3JBtxRERg7oR25R6LwaKB7yUakpMKLlOoVpuZ',{
      api_host:'https://eu.posthog.com',
    })
  } else {
    console.log('init posthog dev');
    posthog.init('phc_6BDPOnBfls3Axc5WAbmN8pQKk3YqhfWoc0tXj9d9kx0',{
      api_host:'https://eu.posthog.com',
    })
  }
</script>

<script>
	// identify our elements
	const firstElement = document.querySelector("section");
	const nav = document.querySelector("#navbar");

	// callback function for scroll and touchmove event listeners
	const handleScrollAndTouchMove = () => {
		// measure the scroll-sensitive bottom of the nav (includes margin)
		const navHeight = nav?.getBoundingClientRect().bottom;
		// get the top of the first element
		const position = firstElement?.getBoundingClientRect().top;

		// if the top of the first element is above the nav, add a border
		if (position && navHeight && position < navHeight) {
			nav.classList.add("border-b");
		}

		// if the top of the first element is below the nav, remove the border
		if (position && navHeight && position > navHeight) {
			nav.classList.remove("border-b");
		}
	};

	// add scroll and touchmove event listeners
	document.addEventListener("scroll", handleScrollAndTouchMove);
	document.addEventListener("touchmove", handleScrollAndTouchMove);
</script>

<!-- Google tag (gtag.js) --> 
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XZ5L2M9P80"></script> 
<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-XZ5L2M9P80'); </script>