<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" type="image/png" href="favicon.svg"/>
		<link rel="apple-touch-icon" href="favicon.svg">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		
		<!-- Primary Meta Tags -->
		<title>Tlon Corporation</title>
		<meta name="title" content="Tlon Corporation">
		<meta name="description" content="Tlon exists to build exceptionally well-crafted software for people’s everyday lives.">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://tlon.io/">
		<meta property="og:title" content="Tlon Corporation">
		<meta property="og:description" content="Tlon exists to build exceptionally well-crafted software for people’s everyday lives.">
		<meta property="og:image" content="https://d2w9rnfcy7mm78.cloudfront.net/20991844/original_05337a7edcadf2b018a2c4d14d4a3139.png">

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:url" content="https://tlon.io/">
		<meta name="twitter:site" content="@tloncorporation">
		<meta name="twitter:title" content="Tlon Corporation">
		<meta name="twitter:description" content="Tlon exists to build exceptionally well-crafted software for people’s everyday lives.">
		<meta name="twitter:image" content="https://d2w9rnfcy7mm78.cloudfront.net/20991844/original_05337a7edcadf2b018a2c4d14d4a3139.png">
	</head>
	<body class="
		p-8 
		lg:p-32
		text-xl
		antialiased 
		text-stone-800 
		dark:bg-stone-800 
		dark:text-stone-300
	">
		<slot/>
	</body>
</html>

<style>
	:root { font-family: 'Inter', sans-serif; }
	@supports (font-variation-settings: normal) {
	:root { font-family: 'Inter var', sans-serif; }
	}
</style>

<script>
  import posthog from 'posthog-js';
  if(import.meta.env.PROD) {
    console.log('init posthog prod');
    posthog.init('phc_pEVFBA3JBtxRERg7oR25R6LwaKB7yUakpMKLlOoVpuZ',{
      api_host:'https://eu.posthog.com',
    })
  } else {
    console.log('init posthog dev');
    posthog.init('phc_6BDPOnBfls3Axc5WAbmN8pQKk3YqhfWoc0tXj9d9kx0',{
      api_host:'https://eu.posthog.com',
    })
  }
</script>
