---
import Base from "./Base.astro";
const { frontmatter } = Astro.props;
---
<Base>
	<h1 class="pt-4 italic">{frontmatter.title}</h1>
	<p class="pt-4">{frontmatter.pubDate.slice(5,10)}</p>
    <article class="pt-4 prose prose-xl prose-a:no-underline leading-7 text-black prose-a:text-gray-500 prose-p:text-black dark:text-stone-300 prose-blockquote:ml-10 prose-blockquote:pl-2">
	    <slot/>
    </article>
	<p class="pt-6">*</p>
	<p class="pt-4"><a href={frontmatter.groupURL} target="_blank">Join {frontmatter.groupName}</a></p>
	<p class="pt-6">*</p>
	<p class="pt-4"><a href="/">Back to All Posts</a></p>
	<p><a href="https://tlon.us14.list-manage.com/subscribe?u=f9f52f752b920bad5e8b46282&id=bea6ffbefa" target="_blank">Subscribe to Newsletter</a></p>


</Base>